* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*background-color: #1b262c;*/
  background-color: #070910;
  /*1b262c*/
  color: white;
}

.main-container {
  width: 70%;
  margin: 0 auto;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

header .icon {
  margin: auto 0;
  font-size: 30px;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 40px;
}

#job-grid {
  border-radius: 10px;
  padding: 20px;
  display: grid;
  background: green;
  font-size: 14px;
  position: relative;
}

#job-grid .logo-container,
#job-grid .company-logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: -8px;
  left: 5%;
}

#job-grid > div:nth-child(2n) {
  display: flex;
  background-color: purple;
  margin-top: 20px;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  margin: auto 10px;
}

#job-grid h3 {
  margin: 10px 0;
  font-size: 18px;
}

#job-grid p:nth-child(2n) {
  background-color: yellow;
  margin-bottom: 15px;
}

#job-list {
  display: grid;
  grid-template-columns: 80px 2fr 1fr;
  border-radius: 5px;
  padding: 10px;
  margin-top: 25px;
  background-color: #212628;
}

#job-list .company-logo {
  width: 60px;
  height: 60px;
  /*border-radius: 10px;*/
  margin: auto 0;
}

#job-list .main-details {
  /*background-color: purple;*/
}

#job-list .main-details p {
  padding: 5px;
}

#job-list .main-details p:nth-child(2n) {
  color: #03dac6;
}

#job-list .type {
  display: flex;
  justify-content: space-around;
  /*background-color: green;*/
  width: 100%;
  margin: auto 0;
}

/*FORM CONTAINER*/
#form-container {
  padding: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

#form-container input {
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
}

#form-container .title {
  background-color: yellow;
}

#form-container .search-container {
  display: flex;
  justify-content: space-around;
}

#form-container input[type="checkbox"] {
  width: auto;
}

#form-container .checkbox {
  margin: auto 0;
}
