* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #070910;
  color: white;
}

.wave {
  position: absolute;
  z-index: -1;
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.main-container {
  width: 70%;
  margin: 0 auto;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

header .icon {
  margin: auto 0;
  font-size: 40px;
}

.animate-postings {
  position: relative;
  display: block;
  transform-origin: bottom;
  animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

/*JOB GRID*/
#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 40px;
}

#grid-container .card-container {
  display: grid;
  grid-auto-rows: 1fr;
}

#job-grid {
  border-radius: 10px;
  padding: 25px;
  display: grid;
  background-color: #212628;
  font-size: 16px;
  position: relative;
}

#job-grid .logo-container,
#job-grid .company-logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: -8px;
  left: 5%;
}

#job-grid .date-posted {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

#job-grid .details p:first-child {
  color: #03dac6;
  font-size: 18px;
  margin: 10px 0;
}

#job-grid .details p:nth-child(2n) {
  margin-bottom: 30px;
}

.location {
  color: #57a6ff;
}

/*JOB LIST*/

#job-list {
  display: grid;
  grid-template-columns: 80px 2fr 1fr;
  border-radius: 5px;
  padding: 10px;
  margin-top: 25px;
  background-color: #212628;
}

#job-list .company-logo {
  width: 60px;
  max-width: 100%;
  height: auto;
  margin: auto 0;
}

#job-list .main-details p {
  padding: 5px;
}

#job-list .main-details p:nth-child(2n) {
  color: #03dac6;
}

#job-list .type {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto 0;
}

/*FORM CONTAINER*/
#form-container {
  padding: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr 100px 100px;
  border-radius: 5px;
  background-color: #070910;
  border: 1px solid #212628;
}

#form-container div {
  height: 60px;
  line-height: 60px;
}

#form-container .location {
  border-left: 1px solid #212628;
  border-right: 1px solid #212628;
}

#form-container input[type="text"] {
  width: 100%;
  padding-left: 15px;
  outline: none;
  border: none;
  background-color: #070910;
  font-size: 15px;
  color: white;
  vertical-align: center;
}

::placeholder {
  color: white;
}

#form-container .full-time-checkbox {
  display: flex;
}

#form-container .full-time-checkbox input {
  margin: auto 10px;
}

#form-container .full-time-checkbox label {
  margin: auto;
  width: 200px;
}

#form-container .button {
  margin: auto;
}

#form-container .button button {
  padding: 20px;
  background-color: #045757;
  outline: none;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/*CARDS OR LIST*/
.cards-or-list-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.cards-or-list-container svg {
  margin: auto 10px auto auto;
}

.cards-or-list-container div {
  display: flex;
  padding: 15px;
  cursor: pointer;
  border: 1px solid #212628;
}

.cards-or-list-container p {
  margin: auto 0;
  vertical-align: center;
}

.active {
  background-color: #045757;
}

/*SHOW MORE BUTTON*/
.show-more {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.show-more p {
  background-color: #045757;
  padding: 15px;
  cursor: pointer;
}

.github-icon a {
  color: #045757;
  font-size: 50px;
  bottom: 0;
  position: fixed;
  margin: 20px;
}

.github-icon a:hover {
  color: white;
}

@media (min-width: 1500px) {
  .main-container {
    width: 60%;
  }
}

@media (max-width: 990px) {
  #grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .main-container {
    width: 80%;
  }

  #form-container .title {
    grid-column: 1 / 5;
    border-bottom: 1px solid #212628;
  }

  #form-container .location {
    grid-column: 1 / 4;
    border-left: none;
  }

  #form-container .full-time-checkbox {
    grid-column: 4 / 5;
  }

  #form-container .button {
    border-top: 1px solid #212628;
    grid-column: 1 / 5;
    width: 100%;
  }

  #form-container .button button {
    width: 100%;
  }
}
